.border {
    display: block;
    border: 2px solid black;
    height: 1000px;
    width: 700px;
    padding: 65px;
    margin: auto;
}

.top_line {
    height: 2px;
    width: 550px;
    background-color: black;
}

.green_header {
    color: rgb(46, 154, 46);
}

.blue_header {
    color: rgb(42, 108, 188);
}
